<div class="flex bg-zc-50 justify-center w-full h-screen">
  <div class="w-full h-screen pt-8 space-y-6 flex flex-col" style="max-width: 640px">
    <div>
      <app-header-nexum></app-header-nexum>
    </div>
    <div class="body space-y-6 w-full overflow-y-auto h-full rounded-t-lg p-8">
      <div class="w-full flex flex-col space-y-4">
        <span class="t-title text-zc-800">Flujos de Trabajo</span>
        <span class="t-body text-zc-400">El flujo de trabajo determina el circuito de firma que será usado para enviar los documentos a los firmantes.</span>
      </div>
      <button class="w-full b-solid" >Crear Flujo de Trabajo</button>
      <div class="i-outline">
        <label>Búsqueda</label>
        <input placeholder="Nombre de Flujo" type="text" (input)="filterWorkflows($event)">
      </div>
      <div class="w-full border-t border-zc-200"></div>
      <div class="w-full space-y-2">
        <div *ngIf="workflows.length===0" class="alert-workflow-void flex flex-col items-center w-full h-fit p-4 space-y-6">
          <img src="/assets/icon-system/pictograms/workflow.png">
          <span class="text-zc-600 t-body text-center">No tiene flujos registrados, por favor cree uno.</span>
        </div>
        <!-- {{workflows | json}} -->
        <!--ng-for-->
       <workflow-item *ngFor="let workflow of workflowsPagination" [workflow]="workflow"></workflow-item>
      </div>
      <div class="h-16"></div>
    </div>
  </div>
</div>

<app-toolbar [module]="'workflow'"></app-toolbar>
