<div class="flex bg-zc-50 justify-center w-full h-screen">
  <div class="w-full relative h-screen pt-8 space-y-6 flex flex-col" style="max-width: 640px">
    <div>
      <app-header-nexum [router]="'/workflow'" [icon]="'close'"
                        [title]="'Creación de Flujo'"></app-header-nexum>
    </div>
    <div class="body space-y-6 bg-white w-full overflow-y-auto h-full rounded-t-lg p-8">

      <div class="step w-full flex items-center space-x-4">
        <div class="flex items-center justify-center w-14 h-14 relative rounded-full bg-zc-50">

          <span class="t-body text-brand-c">3/5</span>

          <svg class="absolute top-0 left-0" width="56" height="56" viewBox="0 0 59 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.458 2C32.8767 2 37.2326 3.04577 41.1697 5.05182C45.1068 7.05786 48.5132 9.96722 51.1105 13.542C53.7077 17.1168 55.422 21.2555 56.1133 25.6198C56.8045 29.9841 56.453 34.45 55.0876 38.6525C53.7221 42.8549 51.3815 46.6745 48.257 49.799C45.1325 52.9235 41.3129 55.2641 37.1105 56.6296C32.908 57.995 28.4421 58.3465 24.0778 57.6553C19.7135 56.964 15.5748 55.2497 12 52.6525" stroke="url(#paint0_linear_674_679)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            <defs>
              <linearGradient id="paint0_linear_674_679" x1="12" y1="30.6512" x2="56.458" y2="30.6512" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F66100"/>
                <stop offset="1" stop-color="#F4BC2C"/>
              </linearGradient>
            </defs>
          </svg>

        </div>
        <div class="flex flex-col">
          <span class="t-body text-zc-800">Notificaciones para Firmantes</span>
          <span class="t-label text-brand-c">Sigue: Configuración OTP</span>
        </div>
      </div>

      <div class="flex w-full h-fit space-x-2" style="max-width: 320px">
        <button class="flex-1 {{!showEmailOption ? 'b-tab-on':'b-tab-off'}}" (click)="setShowEmailOption(false)">SMS</button>
        <button class="flex-1 {{showEmailOption ? 'b-tab-on':'b-tab-off'}}" (click)="setShowEmailOption(true)">Correo</button>
      </div>

      <ng-container class="sms-section" *ngIf="!showEmailOption">
        <div class="flex items-center space-x-1">
          <button class="b-ghost-md">
            <div class="flex items-center space-x-2" (click)="toggleActiveSMS()">
              <div *ngIf="activeSMS" class="toggle-on">
                <svg class="fill-current text-brand-c stroke-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 7C4.23858 7 2 9.23858 2 12C2 14.7614 4.23858 17 7 17H17C19.7614 17 22 14.7614 22 12C22 9.23858 19.7614 7 17 7H7ZM16.75 14.5C15.3693 14.5 14.25 13.3807 14.25 12C14.25 10.6193 15.3693 9.5 16.75 9.5C18.1307 9.5 19.25 10.6193 19.25 12C19.25 13.3807 18.1307 14.5 16.75 14.5Z"/>
                </svg>
              </div>
              <div *ngIf="!activeSMS" class="toggle-off">
                <svg class="fill-current text-zc-400 stroke-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.25 14.5C5.86929 14.5 4.75 13.3807 4.75 12C4.75 10.6193 5.86929 9.5 7.25 9.5C8.63071 9.5 9.75 10.6193 9.75 12C9.75 13.3807 8.63071 14.5 7.25 14.5Z"/>
                  <path d="M22 12C22 9.23858 19.7614 7 17 7H7C4.23858 7 2 9.23858 2 12C2 14.7614 4.23858 17 7 17H17C19.7614 17 22 14.7614 22 12ZM17 8.5C18.933 8.5 20.5 10.067 20.5 12C20.5 13.933 18.933 15.5 17 15.5H7C5.067 15.5 3.5 13.933 3.5 12C3.5 10.067 5.067 8.5 7 8.5H17Z"/>
                </svg>
              </div>
              <span class="t-body text-zc-800">Activar</span>
            </div>
          </button>
        </div>

        <form class="space-y-6 w-full" [formGroup]="notifySignersSMSForm">
          <div class="title-section flex items-center space-x-2">
            <div class="w-1 h-4 rounded bg-brand-c"></div>
            <span class="t-body text-brand-c">Datos básicos</span>
          </div>

          <div class="grid gap-2 w-full">
            <div class="i-outline">
              <label>Título del envío</label>
              <input type="text" formControlName="title">
            </div>
            <div class="i-outline">
              <label>Nombre del remitente</label>
              <input type="text" formControlName="sender_name">
            </div>
            <div class="i-outline">
              <label>Teléfono del remitente</label>
              <div class="flex items-center space-x-2">
                <select formControlName="sender_cellphone_code">
                  <option *ngFor="let code of codeCountries" [value]="code.value">{{code.label}}

                </select>
                <input class="flex-1" type="number" formControlName="sender_cellphone">
              </div>
            </div>
          </div>

          <div class="title-section flex items-center space-x-2">
            <div class="w-1 h-4 rounded bg-brand-c"></div>
            <span class="t-body text-brand-c">Mensaje</span>
          </div>

          <div class="grid gap-2 w-full">
            <div class="alert-info w-full bg-blue-50 rounded-lg p-4 space-x-4 flex items-center">
              <div>
                <svg class="stroke-current stroke-blue-600" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 16H12V12H11M12 8H12.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <span class="text-blue-600 t-body">Recuerde que algunos de los caracteres como la “ñ” o las tildes puede no ser reconocidas por el mensaje SMS.</span>
            </div>
            <div class="i-outline">
              <label>Texto del SMS</label>
              <textarea #textSMS formControlName="text" rows="3"(ngModelChange)="onChangeTextSMS($event.target)" ></textarea>
              <small class="t-label text-blue-600">{{textSMS.value.length}}/100</small>
            </div>
          </div>

          <div class="alert-info w-full bg-blue-50 rounded-lg p-4 space-x-4 flex items-center">
            <div>
              <svg class="stroke-current stroke-blue-600" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 16H12V12H11M12 8H12.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <span class="text-blue-600 t-body">El tamaño del SMS dependerá de los parámetros incluidos en la personalización de su mensaje. Informe de envío SMS, si lo desea puede recibirlo en su correo electrónico las estadísticas de su envío.</span>
          </div>
          <div class="flex items-center space-x-2">
            <input type="checkbox" class="w-4 h-4" formControlName="activate_reminder">
            <span class="flex-1 text-zc-800 t-body">Activar recordatorio para recibir informe.</span>
          </div>
        </form>
      </ng-container>

      <ng-container class="email-section" *ngIf="showEmailOption">
        <div class="flex items-center space-x-1">
          <button class="b-ghost-md">
            <div class="flex items-center space-x-2" (click)="toggleActiveEmail()">
              <div *ngIf="activeEmail" class="toggle-on">
                <svg class="fill-current text-brand-c stroke-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 7C4.23858 7 2 9.23858 2 12C2 14.7614 4.23858 17 7 17H17C19.7614 17 22 14.7614 22 12C22 9.23858 19.7614 7 17 7H7ZM16.75 14.5C15.3693 14.5 14.25 13.3807 14.25 12C14.25 10.6193 15.3693 9.5 16.75 9.5C18.1307 9.5 19.25 10.6193 19.25 12C19.25 13.3807 18.1307 14.5 16.75 14.5Z"/>
                </svg>
              </div>
              <div *ngIf="!activeEmail" class="toggle-off">
                <svg class="fill-current text-zc-400 stroke-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.25 14.5C5.86929 14.5 4.75 13.3807 4.75 12C4.75 10.6193 5.86929 9.5 7.25 9.5C8.63071 9.5 9.75 10.6193 9.75 12C9.75 13.3807 8.63071 14.5 7.25 14.5Z"/>
                  <path d="M22 12C22 9.23858 19.7614 7 17 7H7C4.23858 7 2 9.23858 2 12C2 14.7614 4.23858 17 7 17H17C19.7614 17 22 14.7614 22 12ZM17 8.5C18.933 8.5 20.5 10.067 20.5 12C20.5 13.933 18.933 15.5 17 15.5H7C5.067 15.5 3.5 13.933 3.5 12C3.5 10.067 5.067 8.5 7 8.5H17Z"/>
                </svg>
              </div>
              <span class="t-body text-zc-800">Activar</span>
            </div>
          </button>
        </div>

        <form class="space-y-6 w-full" [formGroup]="notifySignersEmailForm">
          <div class="title-section flex items-center space-x-2">
            <div class="w-1 h-4 rounded bg-brand-c"></div>
            <span class="t-body text-brand-c">Datos de envío</span>
          </div>

          <div class="i-outline">
            <label>Idioma</label>
            <select formControlName="language">
              <option selected hidden value="">{{'Seleccione una opción'}}</option>
              <option *ngFor="let language of languages" [value]="language.value">{{language.label}}
            </select>
          </div>

          <div class="grid gap-2 w-full">
            <div class="i-outline">
              <label>Asunto</label>
              <input #subject type="text" formControlName="subject">
              <small class="t-label text-blue-600">{{subject.value.length}}/30</small>
            </div>
            <div class="i-outline">
              <label>Con Copia (C.C.)</label>
              <input type="text" formControlName="cc">
            </div>
            <div class="i-outline">
              <label>Con Copia Oculta a (B.C.C.)</label>
              <input type="text" formControlName="bcc">
            </div>
          </div>

          <div class="title-section flex items-center space-x-2">
            <div class="w-1 h-4 rounded bg-brand-c"></div>
            <span class="t-body text-brand-c">Mensaje</span>
          </div>

          <div class="grid gap-2 w-full">
            <div class="i-outline">
              <label>Texto del SMS</label>
              <textarea rows="3" #textEmail formControlName="text"></textarea>
              <small class="t-label text-blue-600">{{textEmail.value.length}}/100</small>
            </div>
          </div>

          <div class="alert-info w-full bg-blue-50 rounded-lg p-4 space-x-4 flex items-center">
            <div>
              <svg class="stroke-current stroke-blue-600" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 16H12V12H11M12 8H12.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <span class="text-blue-600 t-body">El tamaño del E-Mail dependerá de los parámetros incluidos en la personalización de su mensaje. Informe de envío E-Mail, si lo desea puede recibirlo en su correo electrónico las estadísticas de su envío.</span>
          </div>
          <div class="flex items-center space-x-2">
            <input type="checkbox" class="w-4 h-4" formControlName="activate_reminder">
            <span class="flex-1 text-zc-800 t-body">Activar recordatorio para recibir informe.</span>
          </div>
        </form>
      </ng-container>

      <div class="h-16"></div>
    </div>
    <div class="b-nav-dual absolute left-1/2 -translate-x-2/4 bottom-4">
      <button class="secondary" routerLink="/workflow/create/sign-style" >Anterior</button>
      <div class="separador"></div>
      <button class="primary" (click)="nextStep()">Siguiente</button>
    </div>
  </div>
</div>

<div *ngIf="false" class="fixed top-0 left-0 w-full h-screen flex p-8 flex items-center justify-center"
     style="background-color: rgba(0,0,0,0.2)">
  <div class="space-y-6 p-6 rounded-lg border-zc-200 bg-white drop-shadow-lg w-full h-fit" style="max-width: 350px;">
    <div class="title-section flex items-center space-x-2">
      <div class="w-1 h-4 rounded bg-brand-c"></div>
      <span class="t-body text-brand-c">Agregar solicitud</span>
    </div>

    <form class="grid gap-2 w-full">
      <div class="i-outline">
        <label>Documento</label>
        <input type="text" class="w-full" formControlName="name">
      </div>
      <div class="flex items-center space-x-2">
        <input type="checkbox" class="w-4 h-4" formControlName="requiredAnnexe">
        <span class="flex-1 text-zc-800 t-body">Obligatorio</span>
      </div>
    </form>
    <div class="w-full flex items-center space-x-2">
      <button class="b-ghost-md w-full">Cancelar</button>
      <div class="separador h-6 border-l border-zc-200"></div>
      <button class="b-ghost-md w-full">
        <span class="text-brand-c">Agregar</span>
      </button>
    </div>
  </div>
</div>

