<form [formGroup]="formBrand" class="space-y-6 w-full">
  <div class="title-section flex items-center space-x-2">
    <div class="w-1 h-4 rounded bg-brand-c"></div>
    <span class="t-body text-brand-c">Branding de interfaz del firmante</span>
  </div>

  <div class="i-outline cursor-pointer" (click)="file.click()">
    <label>Logotipo</label>
    <div class="p-10 flex justify-center items-center">
      <div *ngIf="!formBrand.controls.logo_path.value" class="inter t-body text-brand-c">Carga tu imagen de marca</div>
      <img *ngIf="formBrand.controls.logo_path.value" class="w-12" alt="brand-img" [src]="formBrand.controls.logo_path.value" fill="">
      <input #file type="file" class="hidden" accept="image/png, image/jpg, image/jpeg"
             (change)="onChangeLogo($event.target)">
      <!--png,jpg,jpeg-->
    </div>
    <span *ngIf="isErrorControl(formBrand.controls['logo_path'])">{{getError(formBrand.controls['logo_path'])}}</span>
  </div>

  <div class="i-outline">
    <label>Color de marca</label>
    <div class="flex items-center space-x-2">
      <input type="color" formControlName="body_color_font">
      <p class="t-body text-zc-800">{{formBrand.controls['body_color_font'].value}}</p>
    </div>
    <span
      *ngIf="isErrorControl(formBrand.controls['body_color_font'])">{{getError(formBrand.controls['body_color_font'])}}</span>
  </div>
  <div class="i-outline">
    <label>Tipografía</label>
    <select class="w-full" formControlName="id_body_font">
      <option selected hidden value="">{{'Seleccione una opción'}}</option>
      <option *ngFor="let font of fontText" [value]="font.value">{{font.label}}</option>
    </select>
    <span *ngIf="isErrorControl(formBrand.controls['id_body_font'])">{{getError(formBrand.controls['id_body_font'])}}</span>
  </div>
</form>
