<div class="flex bg-zc-50 justify-center w-full h-screen">
  <div class="w-full relative h-screen pt-8 space-y-6 flex flex-col" style="max-width: 640px">
    <div>
      <app-header-nexum [router]="'send-document/onboarding'" [icon]="'close'"
                        [title]="'Envío de Documento'"></app-header-nexum>
    </div>
    <div class="body space-y-6 bg-white w-full overflow-y-auto h-full rounded-t-lg p-8">

      <div class="step w-full flex items-center space-x-4">
        <div class="flex items-center justify-center w-14 h-14 relative rounded-full bg-zc-50">

          <span class="t-body text-brand-c">1/5</span>

          <svg class="absolute top-0 left-0" width="56" height="56" viewBox="0 0 57 58" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M28 2C33.913 2 39.6743 3.87194 44.458 7.34752C49.2417 10.8231 52.8024 15.7239 54.6296 21.3475"
                  stroke="url(#paint0_linear_674_679)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            <defs>
              <linearGradient id="paint0_linear_674_679" x1="28" y1="11.8987" x2="54.6296" y2="11.8987"
                              gradientUnits="userSpaceOnUse">
                <stop stop-color="#F66100"/>
                <stop offset="1" stop-color="#F4BC2C"/>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="flex flex-col">
          <span class="t-body text-zc-800">Información General</span>
          <span class="t-label text-brand-c">Sigue: Revisión de Documentos</span>
        </div>
      </div>

      <div class="title-section flex items-center space-x-2">
        <div class="w-1 h-4 rounded bg-brand-c"></div>
        <span class="t-body text-brand-c">Datos Principales</span>
      </div>
      <form class="space-y-6 w-full" [formGroup]="infoGeneralForm">
        <div class="grid gap-2 w-full">
          <div class="i-outline">
            <label>Flujo de trabajo</label>
            <select formControlName="workflow" class="w-full" (change)="loadConfigWorkflow($event)">
              <option selected hidden value="">{{'Seleccione un flujo de trabajo'}}</option>
              <option *ngFor="let item of workflowsData; index as _index" value="{{item.value}}">{{item.label}}</option>
            </select>
          </div>
          <div class="i-outline">
            <label>Documento a firmar</label>
            <div class="h-2"></div>
            <input type="file" class="w-full" (change)="uploadMainFile($event)" accept=".pdf">
            <span></span>
          </div>
        </div>

        <div class="grid gap-2 w-full">
          <div class="i-outline">
            <label>Asunto para el envío</label>
            <input formControlName="tittle" type="text" class="w-full">
          </div>
          <div class="i-outline">
            <label>Descripción del envío</label>
            <div class="h-2"></div>
            <textarea formControlName="description" rows="3" class="w-full"></textarea>
          </div>
        </div>

        <div class="space-y-2">
          <div class="title-section flex items-center space-x-2">
            <div class="w-1 h-4 rounded bg-brand-c"></div>
            <span class="t-body text-brand-c">Documentos Adjuntos</span>
          </div>
          <span *ngIf="attachedDocument.length > 0" class="t-body text-zc-400">Estos documentos son anexos del documento principal:</span>
        </div>

        <div *ngIf="attachedDocument.length < 1" class="grid gap-2 w-full">
          <span class="t-body text-zc-400">El flujo no requiere de anexos o no seleccionó un flujo.</span>
        </div>

        <div *ngIf="attachedDocument.length > 0" class="grid gap-2 w-full">
          <div *ngFor="let annexe of attachedDocument; let position = index" class="i-outline">
            <label>{{annexe.doctype_name}}</label>
            <div class="h-2"></div>
            <input type="file" class="w-full" (change)="setAttachment($event, position)">
          </div>
        </div>

        <div *ngIf="attachedDocuments.length > 0 && attachedDocument.length === 0" class="grid gap-2 w-full">
          <div *ngFor="let annexe of attachedDocuments; let position = index" class="i-outline">
            <label>{{annexe.name}}</label>
            <div class="h-2"></div>
            <input type="file" class="w-full" (change)="setAttachment($event, position)">
          </div>
        </div>
      </form>

      <div class="space-y-2">
        <div class="title-section flex items-center space-x-2">
          <div class="w-1 h-4 rounded bg-brand-c"></div>
          <span class="t-body text-brand-c">Documentos a solicitar</span>
        </div>
        <span class="t-body text-zc-400">Estos documentos se deberán subir por los firmantes, adicional a la firma del documento principal.</span>
      </div>

      <div class="w-full p-4 space-x-4 flex items-center text-amber-500 stroke-amber-500 bg-amber-50 rounded-lg">
        <div>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 8.99999V12.75M2.697 16.126C1.831 17.626 2.914 19.5 4.645 19.5H19.355C21.085 19.5 22.168 17.626 21.303 16.126L13.949 3.37799C13.083 1.87799 10.917 1.87799 10.051 3.37799L2.697 16.126ZM12 15.75H12.007V15.758H12V15.75Z"
              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <span class="t-body">Nota: Los documentos seleccionados serán solicitados a los firmantes, algunos son de subida obligatoria por parte del firmante, según la configuración que se le haya dado.</span>
      </div>

      <div class="w-full flex flex-col">
        <!--Solicitudes del workflow-->
        <div *ngFor="let annexe of requestedDocument; let position = index"
             class="flex items-center space-x-2 py-2 border-b border-zc-200">
          <input type="checkbox" class="w-4 h-4" [checked]="annexe.required">
          <span class="flex-1 text-zc-800 t-body">{{annexe.doctype_name}}</span>
          <div
            class="t-label text-brand-c bg-brand-l rounded-full px-1 py-0.5">{{annexe.required ? 'Obligatorio' : ''}}</div>
        </div>
        <!--Solicitudes agregadas-->
        <div *ngFor="let item of annexes; let position = index"
             class="flex items-center space-x-2 py-2 border-b border-zc-200">
          <input type="checkbox" class="w-4 h-4">
          <span class="flex-1 text-zc-800 t-body">{{item.name}}</span>
          <div
            class="t-label text-brand-c bg-brand-l rounded-full px-1 py-0.5">{{item.isRequired ? 'Obligatorio' : ''}}</div>
          <button class="b-ghost-sm" (click)="deleteAnnexe(position)">
            <div class="stroke-alert-error">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.2833 7.50001L11.995 15M8.005 15L7.71667 7.50001M16.0233 4.82501C16.3083 4.86834 16.5917 4.91417 16.875 4.96334M16.0233 4.82501L15.1333 16.3942C15.097 16.8652 14.8842 17.3051 14.5375 17.626C14.1908 17.9469 13.7358 18.1251 13.2633 18.125H6.73667C6.26425 18.1251 5.80919 17.9469 5.46248 17.626C5.11578 17.3051 4.90299 16.8652 4.86667 16.3942L3.97667 4.82501M16.0233 4.82501C15.0616 4.6796 14.0948 4.56925 13.125 4.49417M3.97667 4.82501C3.69167 4.86751 3.40833 4.91334 3.125 4.96251M3.97667 4.82501C4.93844 4.67961 5.9052 4.56926 6.875 4.49417M13.125 4.49417V3.73084C13.125 2.74751 12.3667 1.92751 11.3833 1.89667C10.4613 1.86721 9.53865 1.86721 8.61667 1.89667C7.63333 1.92751 6.875 2.74834 6.875 3.73084V4.49417M13.125 4.49417C11.0448 4.33341 8.95523 4.33341 6.875 4.49417"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </button>
        </div>
        <div class="flex pt-4 justify-center">
          <button class="b-small" (click)="modalAddSolicitude = true">
            <span>Agregar solicitud</span>
            <div class="stroke-brand-c">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 3V13M13 8H3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </button>
        </div>
      </div>

      <div class="h-16"></div>
    </div>
    <div class="b-nav-dual absolute left-1/2 -translate-x-2/4 bottom-4">
      <!--<button class="secondary">Anterior</button>
      <div class="separador"></div>-->
      <!-- <button routerLink="/send-document/document-review" class="primary">Siguiente</button> -->
      <button (click)="nextStep()" class="primary">Siguiente</button>
    </div>
  </div>
</div>

<div *ngIf="modalAddSolicitude" class="fixed top-0 left-0 w-full h-screen flex p-8 flex items-center justify-center"
     style="background-color: rgba(0,0,0,0.2)">
  <div class="space-y-6 p-6 rounded-lg border-zc-200 bg-white drop-shadow-lg w-full h-fit" style="max-width: 350px;">
    <div class="title-section flex items-center space-x-2">
      <div class="w-1 h-4 rounded bg-brand-c"></div>
      <span class="t-body text-brand-c">Agregar solicitud</span>
    </div>

    <form class="grid gap-2 w-full" [formGroup]="annexesForm">
      <div class="i-outline">
        <label>Documento</label>
        <input type="text" class="w-full" formControlName="name">
      </div>
      <div class="flex items-center space-x-2">
        <input type="checkbox" class="w-4 h-4" formControlName="requiredAnnexe">
        <span class="flex-1 text-zc-800 t-body">Obligatorio</span>
      </div>
    </form>
    <div class="w-full flex items-center space-x-2">
      <button (click)="modalAddSolicitude = false" class="b-ghost-md w-full">Cancelar</button>
      <div class="separador h-6 border-l border-zc-200"></div>
      <button class="b-ghost-md w-full" (click)="addAnnex()">
        <span class="text-brand-c">Agregar</span>
      </button>
    </div>
  </div>
</div>
<app-block-page [show]="isBlockPage"></app-block-page>
<app-toast></app-toast>
