<div class="flex bg-zc-50 justify-center w-full h-screen">
  <div class="w-full relative h-screen pt-8 space-y-6 flex flex-col" style="max-width: 640px">
    <div>
      <app-header-nexum [router]="'send-document/onboarding'" [icon]="'close'"
                        [title]="'Envío de Documento'"></app-header-nexum>
    </div>
    <div class="body space-y-6 bg-white w-full overflow-y-auto h-full rounded-t-lg p-8">

      <div class="step w-full flex items-center space-x-4">
        <div class="flex items-center justify-center w-14 h-14 relative rounded-full bg-zc-50">

          <span class="t-body text-brand-c">1/5</span>

          <svg class="absolute top-0 left-0" width="56" height="56" viewBox="0 0 57 58" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M28 2C33.913 2 39.6743 3.87194 44.458 7.34752C49.2417 10.8231 52.8024 15.7239 54.6296 21.3475"
                  stroke="url(#paint0_linear_674_679)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            <defs>
              <linearGradient id="paint0_linear_674_679" x1="28" y1="11.8987" x2="54.6296" y2="11.8987"
                              gradientUnits="userSpaceOnUse">
                <stop stop-color="#F66100"/>
                <stop offset="1" stop-color="#F4BC2C"/>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="flex flex-col">
          <span class="t-body text-zc-800">Información General</span>
          <span class="t-label text-brand-c">Sigue: Revisión de Documentos</span>
        </div>
      </div>

      <div class="title-section flex items-center space-x-2">
        <div class="w-1 h-4 rounded bg-brand-c"></div>
        <span class="t-body text-brand-c">Datos Principales</span>
      </div>

      <app-basic-data-form
        class="block space-y-6"
        [workflows]="workflows"
        [markAsTouched]="(markAsTouched | async) ?? false"
      ></app-basic-data-form>

      <div class="h-16"></div>
    </div>
    <div class="b-nav-dual absolute left-1/2 -translate-x-2/4 bottom-4">
      <!--<button class="secondary">Anterior</button>
      <div class="separador"></div>-->
      <!-- <button routerLink="/send-document/document-review" class="primary">Siguiente</button> -->
      <button (click)="nextStep()" class="primary">Siguiente</button>
    </div>
  </div>
</div>

<app-block-page [show]="isBlockPage"></app-block-page>
<app-toast></app-toast>
