<div class="flex bg-zc-50 justify-center w-full h-screen">
  <div class="w-full relative h-screen pt-8 space-y-6 flex flex-col" style="max-width: 640px">
    <div>
      <app-header-nexum [router]="'/workflow/create'" [icon]="'close'"
                        [title]="'Creación de Flujo'"></app-header-nexum>
    </div>
    <div class="body space-y-6 bg-white w-full overflow-y-auto h-full rounded-t-lg p-8">

      <div class="step w-full flex items-center space-x-4">
        <div class="flex items-center justify-center w-14 h-14 relative rounded-full bg-zc-50">

          <span class="t-body text-brand-c">5/5</span>

          <svg class="absolute top-0 left-0" width="56" height="56" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="28" stroke="url(#paint0_linear_678_698)" stroke-width="4"/>
            <defs>
              <linearGradient id="paint0_linear_678_698" x1="2" y1="30.6512" x2="58" y2="30.6512" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F66100"/>
                <stop offset="1" stop-color="#F4BC2C"/>
              </linearGradient>
            </defs>
          </svg>


        </div>
        <div class="flex flex-col">
          <span class="t-body text-zc-800">Recordatorio para los Firmantes</span>
          <span class="t-label text-brand-c">Anterior: Configuración OTP</span>
        </div>
      </div>

      <div class="flex w-full h-fit space-x-2" style="max-width: 320px">
        <button class="flex-1 {{false ? 'b-tab-on':'b-tab-off'}}">SMS</button>
        <button class="flex-1 {{true ? 'b-tab-on':'b-tab-off'}}">Correo</button>
      </div>

      <ng-container class="sms-section" *ngIf="false">
        <div class="flex items-center space-x-1">
          <button class="b-ghost-md">
            <div class="flex items-center space-x-2">
              <div *ngIf="true" class="toggle-on">
                <svg class="fill-current text-brand-c stroke-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 7C4.23858 7 2 9.23858 2 12C2 14.7614 4.23858 17 7 17H17C19.7614 17 22 14.7614 22 12C22 9.23858 19.7614 7 17 7H7ZM16.75 14.5C15.3693 14.5 14.25 13.3807 14.25 12C14.25 10.6193 15.3693 9.5 16.75 9.5C18.1307 9.5 19.25 10.6193 19.25 12C19.25 13.3807 18.1307 14.5 16.75 14.5Z"/>
                </svg>
              </div>
              <div *ngIf="false" class="toggle-off">
                <svg class="fill-current text-zc-400 stroke-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.25 14.5C5.86929 14.5 4.75 13.3807 4.75 12C4.75 10.6193 5.86929 9.5 7.25 9.5C8.63071 9.5 9.75 10.6193 9.75 12C9.75 13.3807 8.63071 14.5 7.25 14.5Z"/>
                  <path d="M22 12C22 9.23858 19.7614 7 17 7H7C4.23858 7 2 9.23858 2 12C2 14.7614 4.23858 17 7 17H17C19.7614 17 22 14.7614 22 12ZM17 8.5C18.933 8.5 20.5 10.067 20.5 12C20.5 13.933 18.933 15.5 17 15.5H7C5.067 15.5 3.5 13.933 3.5 12C3.5 10.067 5.067 8.5 7 8.5H17Z"/>
                </svg>
              </div>
              <span class="t-body text-zc-800">Activar</span>
            </div>
          </button>
        </div>

        <div class="i-outline">
          <label>¿Cada cuanto tiempo enviar el recordatorio</label>
          <div class="flex items-center space-x-2">
            <input class="flex-1" type="number">
            <select>
              <option selected>Minutos</option>
              <option>Horas</option>
              <option>Días</option>
            </select>
          </div>
        </div>

        <form class="space-y-6 w-full">

          <div class="title-section flex items-center space-x-2">
            <div class="w-1 h-4 rounded bg-brand-c"></div>
            <span class="t-body text-brand-c">Mensaje</span>
          </div>

          <div class="grid gap-2 w-full">
            <div class="alert-info w-full bg-blue-50 rounded-lg p-4 space-x-4 flex items-center">
              <div>
                <svg class="stroke-current stroke-blue-600" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 16H12V12H11M12 8H12.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <span class="text-blue-600 t-body">Recuerde que algunos de los caracteres como la “ñ” o las tildes puede no ser reconocidas por el mensaje SMS.</span>
            </div>
            <div class="i-outline">
              <label>Texto del SMS</label>
              <textarea rows="3">Hola [nombre], espero que esté teniendo un buen día, aquí le entrego el documento habilitado por [tiempo_activo], [url].</textarea>
              <small class="t-label text-blue-600">97/100</small>
            </div>
          </div>

        </form>
      </ng-container>

      <ng-container class="email-section" *ngIf="true">
        <div class="flex items-center space-x-1">
          <button class="b-ghost-md">
            <div class="flex items-center space-x-2">
              <div *ngIf="true" class="toggle-on">
                <svg class="fill-current text-brand-c stroke-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 7C4.23858 7 2 9.23858 2 12C2 14.7614 4.23858 17 7 17H17C19.7614 17 22 14.7614 22 12C22 9.23858 19.7614 7 17 7H7ZM16.75 14.5C15.3693 14.5 14.25 13.3807 14.25 12C14.25 10.6193 15.3693 9.5 16.75 9.5C18.1307 9.5 19.25 10.6193 19.25 12C19.25 13.3807 18.1307 14.5 16.75 14.5Z"/>
                </svg>
              </div>
              <div *ngIf="false" class="toggle-off">
                <svg class="fill-current text-zc-400 stroke-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.25 14.5C5.86929 14.5 4.75 13.3807 4.75 12C4.75 10.6193 5.86929 9.5 7.25 9.5C8.63071 9.5 9.75 10.6193 9.75 12C9.75 13.3807 8.63071 14.5 7.25 14.5Z"/>
                  <path d="M22 12C22 9.23858 19.7614 7 17 7H7C4.23858 7 2 9.23858 2 12C2 14.7614 4.23858 17 7 17H17C19.7614 17 22 14.7614 22 12ZM17 8.5C18.933 8.5 20.5 10.067 20.5 12C20.5 13.933 18.933 15.5 17 15.5H7C5.067 15.5 3.5 13.933 3.5 12C3.5 10.067 5.067 8.5 7 8.5H17Z"/>
                </svg>
              </div>
              <span class="t-body text-zc-800">Activar</span>
            </div>
          </button>
        </div>

        <div class="i-outline">
          <label>¿Cada cuanto tiempo enviar el recordatorio</label>
          <div class="flex items-center space-x-2">
            <input class="flex-1" type="number">
            <select>
              <option selected>Minutos</option>
              <option>Horas</option>
              <option>Días</option>
            </select>
          </div>
        </div>

        <form class="space-y-6 w-full">
          <div class="title-section flex items-center space-x-2">
            <div class="w-1 h-4 rounded bg-brand-c"></div>
            <span class="t-body text-brand-c">Mensaje</span>
          </div>

          <div class="grid gap-2 w-full">
            <div class="i-outline">
              <label>Asunto</label>
              <input type="text">
              <small class="t-label text-blue-600">23/30</small>
            </div>
            <div class="i-outline">
              <label>Con Copia (C.C.)</label>
              <input type="text">
            </div>
            <div class="i-outline">
              <label>Con Copia Oculta a (B.C.C.)</label>
              <input type="text">
            </div>
          </div>

          <div class="grid gap-2 w-full">
            <div class="i-outline">
              <label>Texto del SMS</label>
              <textarea rows="3">Hola [nombre], espero que esté teniendo un buen día, aquí le eentrego el documento habilitado por [tiempo_activo], [url].</textarea>
              <small class="t-label text-blue-600">97/100</small>
            </div>
          </div>

        </form>
      </ng-container>

      <div class="h-16"></div>
    </div>
    <div class="b-nav-dual absolute left-1/2 -translate-x-2/4 bottom-4">
      <button class="secondary">Anterior</button>
      <div class="separador"></div>
      <button class="primary">Enviar</button>
    </div>
  </div>
</div>

<div *ngIf="false" class="fixed top-0 left-0 w-full h-screen flex p-8 flex items-center justify-center"
     style="background-color: rgba(0,0,0,0.2)">
  <div class="space-y-6 p-6 rounded-lg border-zc-200 bg-white drop-shadow-lg w-full h-fit" style="max-width: 350px;">
    <div class="title-section flex items-center space-x-2">
      <div class="w-1 h-4 rounded bg-brand-c"></div>
      <span class="t-body text-brand-c">Agregar solicitud</span>
    </div>

    <form class="grid gap-2 w-full">
      <div class="i-outline">
        <label>Documento</label>
        <input type="text" class="w-full" formControlName="name">
      </div>
      <div class="flex items-center space-x-2">
        <input type="checkbox" class="w-4 h-4" formControlName="requiredAnnexe">
        <span class="flex-1 text-zc-800 t-body">Obligatorio</span>
      </div>
    </form>
    <div class="w-full flex items-center space-x-2">
      <button class="b-ghost-md w-full">Cancelar</button>
      <div class="separador h-6 border-l border-zc-200"></div>
      <button class="b-ghost-md w-full">
        <span class="text-brand-c">Agregar</span>
      </button>
    </div>
  </div>
</div>

