<div class="w-screen h-screen bg-white flex">
  <div class="w-1/2 flex">
    <div class="flex-1 bg-cover" src="assets/banner/LOGIN_BANNER.png"
         [ngStyle]="{'background-image': 'url(assets/banner/LOGIN_BANNER.png)'}"></div>
  </div>
  <div class="self-stretch self-stretch p-24 flex-col justify-center items-center gap-12 inline-flex">
    <div class="self-stretch h-[104px] p-[0px] flex-col justify-start items-start gap-4 flex">
      <div class="self-stretch text-zinc-800 text-[32px] font-bold leading-10">Hola!</div>
      <div class="self-stretch text-zinc-400 text-[14px] font-normal leading-normal">Ingresa tus credenciales para
        comenzar con esta nueva experiencia de identidad autozoberana.
      </div>
    </div>
    <div class="self-stretch h-[104px] p-[0px] flex-col justify-start items-end gap-4 flex">
      <div class="self-stretch justify-start items-start gap-4 inline-flex">
        <div class="i-outline w-full">
          <label>Correo electrónico</label>
          <input type="text" placeholder="carlos.cardenas@e-capture.co">
        </div>

        <div class="i-outline w-full">
          <label>Contraseña</label>
          <input type="text" placeholder="***************">
        </div>
      </div>
      <div class="t-body-b ">Recuperar cuenta</div>
    </div>
    <div class="w-full flex">
      <button class="flex-1 b-solid">Ingresar</button>
    </div>
    <div class="w-full flex justify-center">
      <button class="t-body text-zc-400">Validar documento</button>
    </div>
  </div>
</div>
