<div class="space-y-2 w-full">
  <div class="flex items-center w-full space-x-2 p-4 rounded-lg bg-white">
    <div
      class="w-5 h-5 rounded-full bg-brand-l flex items-center justify-center text-brand-c"
    >
      <span class="t-body"> 1 </span>
    </div>
    <div>
      <img ngSrc="/assets/icon-workflow/general-info.svg" alt="" height="24" width="24"/>
    </div>
    <span class="t-body text-zc-800">Información General</span>
  </div>

  <div class="flex items-center w-full space-x-2 p-4 rounded-lg bg-white">
    <div
      class="w-5 h-5 rounded-full bg-brand-l flex items-center justify-center text-brand-c"
    >
      <span class="t-body">2 </span>
    </div>
    <div>
      <img ngSrc="/assets/icon-workflow/sign-style.svg" alt="" height="24" width="24"/>
    </div>
    <span class="t-body text-zc-800">Apariencia de la Firma</span>
  </div>

  <div class="flex items-center w-full space-x-2 p-4 rounded-lg bg-white">
    <div
      class="w-5 h-5 rounded-full bg-brand-l flex items-center justify-center text-brand-c"
    >
      <span class="t-body">3</span>
    </div>
    <div>
      <img ngSrc="/assets/icon-workflow/notify-signers.svg" alt="" height="24" width="24"/>
    </div>
    <span class="t-body text-zc-800">Notificaciones para Firmantes</span>
  </div>

  <div class="flex items-center w-full space-x-2 p-4 rounded-lg bg-white">
    <div
      class="w-5 h-5 rounded-full bg-brand-l flex items-center justify-center text-brand-c"
    >
      <span class="t-body">4</span>
    </div>
    <div>
      <img ngSrc="/assets/icon-workflow/otp-config.svg" alt="" height="24" width="24"/>
    </div>
    <span class="t-body text-zc-800">Configuración de OTP</span>
  </div>

  <div class="flex items-center w-full space-x-2 p-4 rounded-lg bg-white">
    <div
      class="w-5 h-5 rounded-full bg-brand-l flex items-center justify-center text-brand-c"
    >
      <span class="t-body">5</span>
    </div>
    <div>
      <img ngSrc="/assets/icon-workflow/alert-signers.svg" alt="" height="24" width="24"/>
    </div>
    <span class="t-body text-zc-800">Aviso para los Firmantes</span>
  </div>
</div>
