<div class="w-full space-y-6">

  <div class="w-full space-y-2 flex flex-col items-center">
    <div class="i-outline w-full">
      <label>ID Document</label>
      <input type="text" (keypress)="onlyNumbers($event)" [(ngModel)]="documentId">
    </div>
    <button class="b-small" (click)="getTrackingDocument()">
      <span>Consultar</span>
      <div class="text-brand-c">
        <svg class="stroke-current" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 14L10 10M11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </button>
  </div>

  <div class="title-section flex items-center space-x-2">
    <div class="w-1 h-4 rounded bg-brand-c"></div>
    <span class="t-body text-brand-c">Resultados</span>
  </div>
  <div class="w-full overflow-x-auto border border-zc-200 rounded-lg bg-white p-6">
    <table class="table-default">
      <thead>
        <tr>
          <th>ID</th>
          <th>Document ID</th>
          <th>Event</th>
          <th>Transaction ID</th>
          <th>User ID</th>
          <th>URL BLion</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of traceability">
          <td>{{item.id}}</td>
          <td>{{item.document_id}}</td>
          <td>{{item.event}}</td>
          <td>{{item.transaction_id}}</td>
          <td>{{item.id_user}}</td>
          <td><a class="underline" href="{{item.url_lion}}">{{item.url_lion}}</a></td>
          <td>{{item.created_at}}</td>
          <td>{{item.updated_at}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<app-block-page [show]="isBlockPage"></app-block-page>
<app-toast></app-toast>

